---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Bailey French Bulldogs">
    <Nav />
    <main class=" pt-16">
        
           
    </main>
    <footer>
        <Footer />
    </footer>
</Layout>

<script>
    import "../scripts/nav.js";
</script>
