---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Nav from "../components/Nav.astro";
---

<Layout title="Bailey French Bulldogs">
	<Nav/>
	<main class="main-grid">				
		<div class="hero">
			<Hero />
		</div>
	</main>
</Layout>

<script>
    document.querySelector('.hamburger')?.addEventListener('click', () => {
      document.querySelector('.nav-links')?.classList.toggle('expanded');
    });

	document.querySelector('.close')?.addEventListener('click', () => {
		document.querySelector('.nav-links')?.classList.toggle('expanded');
	});
  </script>

<style>
	main {
		margin: 0;
		margin-top: 1rem;
	}

	@media screen and (min-width: 600px) {
		.main-grid {
			display: grid;
			gap: 0.5rem;
			grid-template-columns: repeat(12, 1fr);
			width: 100%;
		}

		.hero {
			grid-column: 2 / 12;
		}
	}
</style>
