---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Blurb from "../components/blurb.astro";
import Testamonials from "../components/Testamonials.astro";
import Contact from "../components/Contact.astro";
---

<Layout
  title="Bailey French Bulldogs - breeding family French Bulldogs for dog families."
  metaDesc="A Frenchie family for over 10 years that breeds family French Bulldogs for dog families."
>
  <main class="main-grid">
    <div class="hero">
      <Hero />
    </div>
    <div class="blurb">
      <Blurb />
    </div>
    <div class="testamonials">
      <Testamonials />
    </div>
    <div class="contact">
      <Contact />
    </div>
  </main>
</Layout>
<script>
  import "../scripts/index.js";
</script>

<style>
  main {
    margin: 0;
    margin-top: 4rem;
  }
</style>
