<div class="bg-white">
  <div class="mx-auto max-w-7xl py-16 px-4 sm:py-16 sm:px-6 lg:px-8">
    <div class="text-center">
      <p
        class="mt-1 text-4xl font-bold tracking-tight text-bailey-50 sm:text-5xl lg:text-6xl"
      >
        Bailey French Bulldogs
      </p>
      <p class="mx-auto mt-5 max-w-xl text-xl text-gray-500">
        Breeding and raising AKC registered Frenchies <span
          class="text-bailey-50">in-home</span
        > as part of our family.
      </p>
    </div>
  </div>
</div>
