---
import YellowButton from "./yellow-button.astro";
import BlackButton from "./black-button.astro";
---

<div class="relative bg-gray-50">
  <div class="lg:relative">
    <div
      class="mx-auto w-full max-w-7xl pt-8 pb-10 text-center lg:py-48 lg:text-left"
    >
      <div class="px-4 sm:px-8 lg:w-1/2 xl:pr-16">
        <h1
          class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl md:text-6xl lg:text-5xl xl:text-6xl"
        >
          <span class="block xl:inline">Family Dogs For</span>
          <span class="block text-bailey-50 xl:inline">Dog Families</span>
        </h1>
        <p
          class="mx-auto mt-3 max-w-md text-lg text-gray-500 sm:text-xl md:mt-5 md:max-w-3xl"
        >
          A Frenchie family for over 10 years.
        </p>
        <div class="mt-10 sm:flex sm:justify-center lg:justify-start">
          <div class="sm:flex sm:w-full sm:max-w-lg w-100"> 
            <YellowButton buttonText="Get Puppy Info." href="/contact-us"/>
            <BlackButton buttonText="Available Puppies" href="/available-puppies"/>
          </div>
        </div>
      </div>
    </div>
    <div
      class="relative h-64 w-full sm:h-72 md:h-96 lg:absolute lg:inset-y-0 lg:right-0 lg:h-full lg:w-1/2"
    >
      <img
        class="absolute inset-0 h-full w-full object-cover"
        src="/hero-image.jpg"
        alt="sleeping french bulldog puppies"
      />
    </div>
  </div>
</div>
