---
const {buttonText, href} = Astro.props;
---
<div class="mt-4 sm:mt-0 text-center">
    <a                
      href={href}
      class="block w-full rounded-md border border-transparent bg-bailey-50 px-5 py-3 text-base font-medium text-white shadow hover:bg-bailey-100 focus:outline-none focus:ring-2 focus:ring-bailey-50 focus:ring-offset-2 sm:px-10"
      >{buttonText}</a
    >
  </div>